.markdown {
	position: relative;
}

.markdown--active .ms-formfieldvaluecontainer,
.markdown--active .ms-WPBody,
.markdown--active > [id*="WebPart"][webpartid] {
	display: none;
}

.markdown .ms-formfieldlabel:after {
	content: " (Rich Text)";
}

.markdown--active .ms-formfieldlabel:after {
	content: " (Markdown)";
}


/* Textarea */

.markdown-textarea-container {
	border-style: solid;
	border-width: 1px;
	display: none;
	margin: 0;
	padding: 5px
}

.markdown--active .markdown-textarea-container {
	display: block;
}

.markdown-textarea {
	-moz-box-sizing: border-box;
		 box-sizing: border-box;

	border: 0;
	font-family: Consolas, Monaco, monospace;
	font-size: 16px;
	width: 100%;
}

.ms-dlgContent .markdown-textarea {
	height: 100%;
}


/* Tabs */

.markdown-tab-list {
	list-style: none;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}

.markdown-tab {
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
}

.markdown-tab:last-child {
	margin-right: 0;
}

.markdown-tab--fullscreen {
	display: none;
}

.markdown--active .markdown-tab--fullscreen {
	display: inline-block;
}

.markdown-tab-link {
	border: 1px solid #d6d6d6;
	color: #23272c;
	cursor: pointer;
	display: block;
	font-size: 12px;
	padding: 4px;
	position: relative;
	text-align: center;
	text-decoration: none !important;
}

.markdown-tab-link:hover {
	background-color: #f4f4f4;
	border: 1px solid #92b7d1;
	text-decoration: none;
}

.markdown-tab-link:active {
	background-color: #92b7d1;
}

.markdown-tab-link .ms-cui-img-16by16 {
	display: block;
	float: left;
}

.markdown-tab-link .ms-cui-ctl-mediumlabel {
	margin-left: 6px;
}

.markdown-tab-link img {
	max-width: none !important;
}

.markdown-tab br {
	display: none;
}


/* Modal */

.markdown-modal {
	height: 100%;
}

.markdown-modal .ms-input-divAroundTextArea {
	height: calc(100% - 51px);
}