.me-markdown{
    position: relative;
}

.me-markdown--active .ms-formfieldvaluecontainer {
    display: none;
}

.me-markdown .ms-formfieldlabel:after {
    content: " (Rich Text)";
}

.me-markdown--active .ms-formfieldlabel:after {
    content: " (Markdown)";
}

.me-markdown-textarea-container {
    border-style: solid;
    border-width: 1px;
    display: none;
    margin: 0 0 4px;
    padding: 5px
}

.me-markdown--active .me-markdown-textarea-container {
    display: block;
}

.me-markdown-textarea {
    -moz-box-sizing: border-box;
         box-sizing: border-box;

    border: 0;
    font-family: Consolas, monospace;
    font-size: 16px;
    min-height: 410px;
    width: 100%;
}

.me-markdown-tab-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 30px;
}

.me-markdown-tab {
    display: block;
    margin-bottom: 10px;
}

.me-markdown-tab + .me-markdown-tab {
    margin-left: -1px;
}

.me-markdown-tab-link {
    border: 1px solid #666;
    color: #444;
    cursor: pointer;
    display: block;
    padding: 4px 8px;
    text-align: center;
    width: 105px;
}

.me-markdown-tab-link:hover {
    background-color: #aaa;
    color: #fff;
    text-decoration: none;
}

.me-markdown-tab-link:active {
    background-color: #666;
};